@import "../../../../design-tokens/_scss-variables";

.HomeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 11.5rem;
  height: 11.5rem;
  margin: 0.4rem;
  padding: 0.5rem;
  background: $card-background-color;
  border-top: 0.4rem solid red;

  .ZoneName,
  .Time,
  .Tickets {
    color: $primary-text-color;
  }

  .Playground {
    color: $secondary-text-color;
  }

  .Footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 0 0.4rem;
  }

  .Time, .Tickets {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
