@import "../../../../design-tokens/_scss-variables";

.HomeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 11.5rem;
  height: 11.5rem;
  margin: 0.4rem;
  padding: 0.5rem;
  background: $card-background-color;
  cursor: pointer;

  .ZoneName,
  .Time,
  .Tickets {
    color: $primary-text-color;
  }

  .Playground {
    color: $secondary-text-color;
  }

  .Footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 0 0.4rem;
  }

  .Time,
  .Tickets {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// ---------- Media Queries ----------
// -----------------------------------

// Regular Desktop Screen and Above
@media only screen and (min-width: 48rem) {
  // .HomeCard:hover {
    // box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.2);
  // }
}

// Larger Desktop Screens and Above
@media only screen and (min-width: 120rem) {
}
