$background-color: #232323;
$card-background-color: #373737;
$primary-text-color: #656565;
$secondary-text-color: #e9e9e9;
$button-background-color: #4c4c4b;
$navlink-color: #b9b9b9;
$input-background-color: #e7e7e7;
$scrollbar-background-color: #e9e9e95e;
