@import "../../../../design-tokens/_scss-variables";

.AccessCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  height: 11.5rem;
  margin: 1.5rem auto;
  padding: 0.3rem 1rem;
  background: $card-background-color;
  border-top: 0.4rem solid red; // dont forget to change border color dynamicaly

  .Header {
    display: flex;
    justify-content: space-between;

    .Playground {
      color: $secondary-text-color;
    }

    .ParkName {
      color: $primary-text-color;
    }
  }

  .Middle {
    .Text {
      color: $primary-text-color;
    }

    .Time {
      color: $secondary-text-color;
    }
  }

  .Footer {
    .Text {
      color: $primary-text-color;
    }

    .Code {
      color: $secondary-text-color;
    }
  }
}
// ---------- Media Queries ----------
// -----------------------------------

// Regular Desktop Screen and Above
@media only screen and (min-width: 48rem) {
  .AccessCard {
    width: 30rem;
    padding: 0.8rem;
  }
}