@import "../../../design-tokens/scss-variables";

.AccessCode {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  .Titles {
    display: flex;
    flex-direction: column;
  }

  .NoCodesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
    margin-top: 5rem;

    .Message {
      font-weight: lighter;
      color: $secondary-text-color;
    }

    .NoCodesMonkeyImg {
      width: 50%;
      object-fit: cover;
      margin-bottom: 2rem;
    }
  }
}

// ---------- Media Queries ----------
// -----------------------------------

// Regular Desktop Screen and Above
@media only screen and (min-width: 48rem) {
  .AccessCode {
    .Titles {
      width: 50rem;
      margin: 3rem auto;
    }

    .NoCodesContainer {
      .NoCodesMonkeyImg {
        width: 15%;
      }
    }
  }
}

// Larger Desktop Screens and Above
@media only screen and (min-width: 120rem) {
  .AccessCode {
    margin-top: 10rem;

    .NoCodesContainer {
      .Message {
        font-size: xx-large;
      }
    }
  }
}
