@import "../../../design-tokens/scss-variables";

.AccessCodes {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  .NoCodesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
    margin-top: 5rem;

    .Message {
      font-weight: lighter;
      color: $secondary-text-color;
    }

    .NoCodesMonkeyImg {
      object-fit: cover;
      width: 50%;
      margin-bottom: 2rem;
    }
  }
}

// ---------- Media Queries ----------
// -----------------------------------

// Regular Desktop Screen and Above
@media only screen and (min-width: 48rem) {
  .AccessCodes {
    .NoCodesContainer {
      .NoCodesMonkeyImg {
        width: 15%;
      }
    }
  }
}

// Larger Desktop Screens and Above
@media only screen and (min-width: 120rem) {
}
