@import "../../../design-tokens/scss-variables";

.Button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 4.5rem;
  background: $button-background-color;
  color: $secondary-text-color;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  z-index: 1000;
  &:focus {
    outline: none;
  }
}

// ---------- Media Queries ----------
// -----------------------------------

// Regular Desktop Screen and Above
@media only screen and (min-width: 48rem) {
  .Button {
    position: static;
    width: 10rem;
    height: 3.5rem;
    &:hover {
      background: lighten($button-background-color, 5%);
    }
  }
}

// Larger Desktop Screens and Above
@media only screen and (min-width: 120rem) {
}
