.Home {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  .Cards {
    // width: 24rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
