.Home {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  .Cards {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
