@import "../../../design-tokens/scss-variables";

.Home {
  display: block;
  margin-top: 5rem;

  .Titles {
    display: flex;
    flex-direction: column;
  }

  .InputAndBtnContainer {
    position: relative;

    input {
      width: 20.8rem;
      background: $input-background-color;
      height: 3.5rem;
      margin: 1rem auto 0.5rem auto;
      padding: 1rem;
      color: rgb(59, 50, 50);
      font-size: 1.3rem;
      border: none;
      outline: none;

      &:focus {
        background: lighten($input-background-color, 50%);
      }
    }
  }

  .Cards {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

// ---------- Media Queries ----------
// -----------------------------------

// Regular Desktop Screen and Above
@media only screen and (min-width: 48rem) {
  .Home {
    margin-top: 10rem;

    .Titles {
      width: 43rem;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 3rem;
      margin: 4rem auto;
    }

    .InputAndBtnContainer {
      margin: 1rem auto;
      width: 42.5rem;
      min-height: 3.5rem;
      max-height: 3.5rem;
      z-index: 99;


      input {
        position: relative;
        float: left;
        width: 32.5rem;
        margin: auto 10rem auto 0;
      }

      input + div {
        min-width: 32.5rem !important;
        margin-right: 10rem;
      }
    }

    .Cards {
      width: 50rem;
    }
  }
}

// Larger Desktop Screens and Above
@media only screen and (min-width: 120rem) {
}
