@import "../../../design-tokens/scss-variables";

.Header {
  position: fixed;
  background: $header-background-color;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  padding: 1rem 8rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .Title {
    vertical-align: middle;
    color: $secondary-text-color;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
  }

  .mobileMenu {
    display: none;
    color: $secondary-text-color;
  }

  .NavLink {
    color: $navlink-color;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $secondary-text-color;
    }
  }

  li {
    display: inline-block;
    margin-left: 3.5rem;
  }
}

// ---------- Media Queries ----------
// -----------------------------------

// Mobile Devices
@media only screen and (max-width: 48rem) {
  .Header {
    padding: 1.3rem 1.5rem;

    .mobileMenu {
      display: inline-block;
      cursor: pointer;
    }

    .menuBtnContainer {
      padding: 0 !important;
    }

    li {
      display: none;
    }
  }
}
