.Title {
  margin: 1rem auto;
  width: 15rem;

  .Text {
    color: #656565;
    font-weight: bold;
  }
}

// ---------- Media Queries ----------
// -----------------------------------

// Regular Desktop Screen and Above
@media only screen and (min-width: 48rem) {
  .Title {
    width: 14.6rem;
    margin: 0 auto;
  }
}

// Larger Desktop Screens and Above
@media only screen and (min-width: 120rem) {
  .Title {
    .Text {
      font-size: larger;
    }
  }
}
